.drag_and_drop_zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vw;
}

.dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #666;
    height: 50vh;
    width: 80vw;
    background: #161D27;
    border-radius: 10px;
    position: relative;
    margin: 3vh;
}

.dropzone::after {
    content: "Перетащите работника для детальной информации";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #999;
    font-size: 12px;
}

.draggable {
    cursor: move;
    transition: transform 0.2s;
}

.draggable:hover {
    transform: translateY(-2px);
}

.team-section {
    text-align: center;
    margin-top: 50px;  
    margin-bottom: 10px;
    width: 100%;
}

.dropzone .draggable{
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropzone .draggable .team-member{
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropzone .draggable .team-member img{
    height: 40vh;
    width: auto;
}

.dropzone .draggable .team-member .inf-member{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
}

.dropzone .draggable .team-member .inf-member .signature{
    display: flex;
    color:rgb(63, 62, 62);
    margin: 1vh 0;
}

.dropzone .draggable .team-member .inf-member .inf-drag-drop{
    display: flex;
    color:#FFFFFF;
}

.dropzone .draggable .team-member .inf-member h3{
    color:#FFFFFF;
    font-size: 2rem;
    margin: 0;
}

.dropzone .draggable .team-member .inf-member p{
    margin: 0;
}

.dropzone .draggable .team-member .inf-member p span{
    color:rgb(255, 255, 255);
}

.dropzone .draggable .team-member .social-icons{
    margin: 0;
}

.dropzone .draggable .team-member .social-icons .inf-drag-drop-title{
    display: flex;
    font-size: 2rem;
    color: #ffffff;
}

.dropzone .draggable .team-member .social-icons .signature{
    display: flex;
    color:rgb(63, 62, 62);
    margin: 1vh 0;
}

.dropzone .draggable .team-member .social-icons .inf-drag-drop{
    display: flex;
    color:#FFFFFF;
}

.dropzone .draggable .team-member .social-icons a{
    display: flex;
    justify-content: start;
    margin: 0;
    color:#FFFFFF;
    margin: 1vh 0;
}

.inf-drag-drop{
    display: none;
}

.signature{
    display: none;
}

.inf-drag-drop-title{
    display: none;
}

.yellow-text
{
    color: #D1B06B;
}

h2 {
    font-family: "Cormorant Garamond";
    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
}

.team {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

.team-member img {
    width: 100%;
    max-width: 550px;
    height: 550px;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-member .inf-member h3 {
    color: #FFFFFF;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #0073e6;
    margin: 0 10px;
    font-size: 16px;
}

.social-networks{
    width: 12vw;
    display: flex;
    justify-content: space-between;
}

.articles-section {
    padding: 50px 10%;
    text-align: center;
    background-color: #161D27;
}

.articles-section h2 {
    font-family: "Cormorant Garamond";
    font-size: 36px;
    color: #333;
    font-weight: 600;
    margin-bottom: 40px;
}

.articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.article-item {
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.article-item:hover {
    transform: translateY(-10px);
}

.article-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-item h3 {
    font-family: "Cormorant Garamond";
    font-size: 20px;
    color: #fef9f9;
    margin: 15px;
}

.article-item .date {
    font-family: "Cormorant Garamond";
    font-size: 14px;
    color: #fef9f9;
    margin: 0 15px;
}

.article-item p {
    font-family: "Cormorant Garamond";
    font-size: 16px;
    color: #fef9f9;
    margin: 15px;
}   

.article-item a {
    display: inline-block;
    margin: 20px;
    font-size: 16px;
    color: #0073e6;
    text-decoration: none;
}

.article-item a:hover {
    text-decoration: underline;
}