.modal {
    display: flex;
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    justify-content: end; 
    align-items: end;     
}

.modal-content {
    background-color: #161D27;
    border: 2px solid #D1B06B;
    border-radius: 10px;
    margin-right: 1vh;
    margin-bottom: 1vh;
    padding: 10px 10px;
    width: 25vw;
    height: 45vh;
}
.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-content p{
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
}

.modal-content h1{
    text-align: center;
    color: #D1B06B;
    font-size: 4rem;
}