.card{
    display: flex;
    background-color: #1F2732;
    width: 25vw;
    height: 35vh;
    flex-direction: column;
    padding: 10px;
}

.info-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.action-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 3vh 2vw;
}

.card-title{
    margin-top: 0;
    color: #ffffff;
    font-size: 2rem;
}

.title-desc{
    color: #ffffff;
    font-size: 1rem;
}

.btn{
    color: #ffffff;
    width: 9vw;
    height: 4vh;
    background-color: #161D27;
    border-color: #161D27;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: background-color 0.3s;
    display: inline-block;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #FFD700;
}